.faPicker{
	display: none;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	overflow-y: clip;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.faPicker-btn{
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 2px;
	color: #000;
	background-color: #fff;
	cursor: pointer;
}

.faPicker-btn:focus{
	outline: none; /* Chrome */
}

.faPicker-btn:hover{
	background-color: #ddd;
}

.faPicker-container{
	display: flex;
	justify-content: space-around;
}

.faPicker-categoriesList{
	overflow-y: auto;
	margin-right: 5px;
	max-height: 200px;
}

.faPicker-iconsList {
	max-height: 200px;
}

.faPicker-iconsList div{
	overflow-y: scroll;
	height: 100%;
}

.faPicker-hideScroll{
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
}

.faPicker-hideScroll::-webkit-scrollbar{
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.faPicker-searchBar{
	width: 100%;
	padding: 6px 6px;
	margin-bottom: 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 16px;
	box-sizing: border-box;
}

.faPicker-searchBar:focus{
	outline: none; /* Chrome */
}

.faPicker-categoriesList ul{
	padding: 0;
	margin: 0;
}

.faPicker-categoriesList li {
	border: 1px solid #fff;
	border-radius: 16px;
	list-style: none;
	line-height: 24px;
	margin-bottom: 2px;
	padding: 0 5px;
	cursor: pointer;
	text-align: center;
	
	/* Unselectable text */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.faPicker-categoriesList .active {
	border: 1px solid #000 !important;
}

.faPicker-categoriesList li:hover {
	background-color: #ddd;
}

